body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

div {
    width: 420px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(189, 23, 156);
}